{% include 'header.html' %}
{% include 'navbar.html' %}

{% load crispy_forms_tags %}

<section>
    <div class="row col-md-8 col-md-offset-2">

        <div class="col-md-4  ">
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi quae, voluptate? Amet asperiores
            autem cupiditate dignissimos dolores illo incidunt nobis pariatur quia reiciendis? Autem deleniti modi non obcaecati placeat reprehenderit
            </p>
        </div>

        <div class="col-md-4  ">
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi quae, voluptate? Amet asperiores
            autem cupiditate dignissimos dolores illo incidunt nobis pariatur quia reiciendis? Autem deleniti modi non obcaecati placeat reprehenderit.
            </p>
        </div>

        <div class="col-md-4 ">

            <form method='POST' action="">{% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Sign Up" class="btn btn-primary"/>
            </form>

        </div>

    </div>


</section>



</body>
</html>